[Desktop Entry]
Encoding=UTF-8
Name=Open WebUI
Icon=/opt/OpenWebUI/open-webui.png
Exec=/opt/OpenWebUI/run.sh
Terminal=true
Type=Application
Categories=AI;Development
